body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #a35e42;
    margin: 0;
}
.calc {
    background: #296821;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
.display {
    width: 100%;
    height: 60px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 15px;
}
button {
    padding: 18px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: 0.2s;
}
button:hover {
    background: #555;
}
button.operator {
    background: orange;
    color: #fff;
    font-weight: bold;
}
button.operator:hover {
    background: rgb(255, 170, 40);
}
button.equal {
    background: #2159d3;
    font-weight: bold;
    grid-column: span 2;
}
button.equal:hover {
    background: #355ac0;
}
button.clear {
    background: red;
    font-weight: bold;
}
button.clear:hover {
    background: #ff4d4d;
}